.m_db_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #18161a;
  margin: 10px 40px 0;
  padding: 15px;
}

.m_db_card_title {
  width: 100%;
}

.m_db_card_body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.m_db_card_body_left {
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.m_db_card_body_right {

}