{
  "presets": [
    "@babel/env",
    "@babel/react",
    // [
    //   "@babel/preset-env",
    //   {
    //     "targets": {
    //       "browsers": [
    //         "last 1 version",
    //         "ie >= 11"
    //       ]
    //     }
    //   }
    // ]
  ],
  "plugins": [
    // [
    //   "module:react-intl",
    //   {
    //     "messagesDir": "build/messages"
    //   }
    // ]
    "@babel/plugin-syntax-dynamic-import"
  ]
}