.m_np_app_bar {
  padding: 10px 10% 0;
}

.m_db {
  max-width: 100%;
}


.m_db_chart {
  width: 100%;
  height: calc(100vh - 400px);
  background-color: transparent;
  border-radius: 5px;
}

.m_db_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10% 20px;
}

.slick-dots {
  top: -20px;
  bottom: 100% !important;
}

.slick-next {
  right: 10px !important;
}

.slick-prev {
  left: 10px !important;
  z-index: 1000 !important;
}

.db_slider{
  max-width: 100%;
}
