.electricity_value{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  line-height: 1;
  padding: 10px 0;
}

.ev_value{
  color: #ffffff;
}

.ev_unit {
  font-family: HiraKakuProN-W6;
  padding-bottom: 6px;
  font-size: 10px;
  color: #989898;
}

.ev_separator {
  height: 4px;
  border-radius: 3px;
}

.ev_description {
  padding-top: 9px;
  font-size: 12px;
  line-height: 1.42;
  color: #b8b8c2;
}