@import '../../assets/css/_variables.scss';

.bm_container {
  width: 87px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #7ed321;
  text-align: center;
  margin: 9px;
  display: table;
}

.bm_content {
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.42;
  letter-spacing: -0.5px;
  color: #7ed321;
  display: table-cell;
  vertical-align: middle;
}