.graph {
  width: 100%;
  height: 100%;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: url(#temperature-gradient);
  stroke-width: 4px;
}