.np_dashboard {
  padding: 20px 10%;
  /* min-width: 1200px; */
}

.db_chart {
  width: 100%;
  height: calc(100vh - 630px);
  background-color: #18161a;
  border-radius: 5px;
  margin-top: 8px;
  min-height: 300px;
}

.gbg_source {
  background-image: linear-gradient(to right, #ffae33, #ff009e);
}

.gbg_battery {
  background-image: linear-gradient(to right, #338fff, #42e27f 52%, #ffea9a);
}

.gbg_electricity {
  background-image: linear-gradient(93deg, #3023ae, #c86dd7);
}