
$background-color: radial-gradient(circle at 51% 36%, #656773, #0e0d0f);
$card-background-color: #18161a;
$card-main-text-color: #ffffff;
$card-sub-text-color: #b8b8c2;
$chart-grid-color: #525252;
$font-family: 'HiraKakuProN-W3', 'Roboto', Helvetica, Arial, sans-serif;
