.m_weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.m_weather_values{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m_weather_icon {
  width: 37px;
  height: 32px;
  object-fit: contain;
}

.m_weather_temperature {
  line-height: 1;
  font-family: HiraKakuProN-W3;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}

.m_weather_humidity {
  margin-top: 5px;
  line-height: 1;
  font-family: HiraKakuProN-W3;
  font-size: 9px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
}