.db_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #18161a;
  padding: 40px;
  min-width: 200px;
}

.db_card_title {
  width: 100%;
}

.db_card_middle {
  width: 100%;
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //space-evently doesn't work on Edge
}

.db_card_bottom {
  margin-top: 42px;
  height: 160px;
  max-height: 160px;
  margin-bottom: 40px;
  text-align: center;
  display: table;
}

.db_card_bottom .content{
  display: table-cell;
  vertical-align: middle;
}

.l_card {
  border-radius: 5px 0 0 5px;
}

.r_card {
  border-radius: 0 5px 5px 0;
}