@import '../../assets/css/_variables.scss';

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
}

.weather_icon {
  width: 32px;
  height: 28px;
  object-fit: contain;
}

.weather_temperature {
  font-family: $font-family;
  font-size: 19px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ffffff;
}

.weather_humidity {
  width: 22px;
  font-family: $font-family;
  font-size: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}