.m_current_moment{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.m_current_icon{
  margin-top: 3px;
  width: 27px;
  height: 28px;
  object-fit: contain;
  display: none;
}

.m_current_date{
  font-family: HiraKakuProN-W3;
  font-size: 9px;
  line-height: 1;
  margin-top: 5px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;

}

.m_current_time{
  margin-top: 11px;
  line-height: 1;
  font-family: HiraKakuProN-W3;
  font-size: 14px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
}