.m_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.m_location_icon {
  width: 23px;
  height: 32px;
  object-fit: contain;
  display: none;
}

.m_location_address {
  font-family: HiraKakuProN-W3;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -1px;
  color: #ffffff;
  text-align: center;
}